.edu-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  border-radius: 5px;
  background: #edeef0;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-box-shadow: 0px 10px 7px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 10px 7px -4px rgba(0,0,0,0.44);
  box-shadow: 0px 10px 7px -4px rgba(0,0,0,0.44);
  transition: all 300ms;
}

.edu-section__heading {
  position: absolute;
  top: 28px;
  display: block;
  width: 110px;
  height: 25px;
  padding: 0;
  margin: 0 0 0 20px;
  font-size: 23px;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: bold;
  text-align: center;
}

.edu-section__toggle-button {
  position: absolute;
  top: 30px;
  right: 0;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: transparent;
  border: 0;
  background: url("../images/arrow-left.svg");
  background-size: cover;
  transition: all 300ms;
}

.edu-section:hover,
.edu-section__toggle-button:hover {
  cursor: pointer;
}

.edu-section__toggle-button:focus {
  outline: none;
}

.edu-section__toggle-button.active {
  transform: rotate(-90deg);
}

.edu-section.active {
  height: 345px;
}

.edu-section__list {
  position: absolute;
  display: none;
  top: 70px;
  left: 30px;
  width: 90%;
  height: 230px;
  list-style: none;
  border-radius: 3px;
  background: #edeef0;
  box-shadow: 0px 1px 12px -6px rgba(0,0,0,0.44);
}

.edu-section__list.active {
  display: unset;
  padding-left: 10px;
}

.edu-section__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 50px;
  padding: 4px 0 0 0;
  margin: 0;
}

.edu-section__item:first-child {
  margin: 5px 0 0 0;
}

.edu-section__logo {
  border-radius: 50%;
}

.first-logo-edu {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background: url("../images/school-logo.jpg");
  background-size: cover;
}

.second-logo-edu {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background: url("../images/lyceum-bsuir.jpg");
  background-size: cover;
  transform: rotate(-3deg); 
}

.third-logo-edu {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background: url("../images/bsuir-logo.jpg");
  background-size: cover; 
}

.fourth-logo-edu {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background: url("../images/logo-rs.svg") no-repeat;
  background-size: contain;
}

.edu-section__span {
  width: 185px;
  height: 42px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

.project-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #edeef0;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.44);
  box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.44);
}

.project-section__heading {
  position: absolute;
  top: 20px;
  display: block;
  width: 110px;
  height: 25px;
  padding: 0;
  margin: 0 0 0 10px;
  font-size: 23px;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: bold;
  text-align: center;
}

.project-section__slide {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  border-radius: 3px;
  background: #e0e4ec;
  border: 1px solid rgb(223, 211, 211);
  box-shadow: 0px 1px 12px -6px rgb(80, 110, 142);
  animation: 0.5s ease-in-out;
}

.project-section__btn-left {
  position: absolute;
  top: calc(50% - 17px);
  left: 30px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  background-image: url("../images/next.svg");
  background-size: cover;
}

.project-section__btn-right {
  position: absolute;
  top: calc(50% - 17px);
  right: 30px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  background-image: url("../images/next.svg");
  background-size: cover;
  transform: rotate(180deg);
}

.project-section__btn-right:hover,
.project-section__btn-left:hover {
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.project-section__btn-right:hover {
  right: 29px; 
}

.project-section__btn-left:hover {
  left: 29px;
}

.project-section__btn-left:focus,
.project-section__btn-right:focus {
  outline: none;
}

.project-description {
  position: relative;
  width: 50%;
  height: 400px;
  margin: auto 0;
  border-right: 1px solid rgb(200, 203, 212);
}

.project-description__heading {
  width: 70%;
  margin: 5px 0 0 30px;
  padding: 0;
  border-bottom: 1px solid rgb(200, 203, 212);
  font-size: 22px;
  font-family: 'Hind Siliguri', sans-serif;
}

.slide__link {
  display: block;
  width: 44%;
  height: auto;
  margin: auto auto;
}

.project-description__img {
  width: 100%;
  height: auto;
}

.project-description__img--second {
  width: 100%;
  height: auto;
}

.project-description__list {
  width: 85%;
  height: 170px;
  margin-top: 35px;
  padding-left: 50px;
  list-style: square;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Hind Siliguri', sans-serif;
}

.project-description__info {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 50px;
  margin: 55px 0 0 25px;
  border-radius: 3px;
  background: rgb(144, 223, 144);
  box-shadow: 0px 1px 12px -6px rgba(0,0,0,0.44);
}

.project-description__info:hover {
  cursor: default;
}

.project-description__paragraph {
  height: 20px;
  padding: 0;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.project-description__paragraph--second {
  display: none;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 450px;
  margin: auto auto;
  border-radius: 3px;
  background: #e0e4ec;
  border: 1px solid rgb(223, 211, 211);
  box-shadow: 0px 1px 12px -6px rgb(80, 110, 142);
}

.slide {
  display: none;
}

.next-slide,
.active-slide {
  display: flex;
}

.next-slide {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slide-btn {
  position: absolute;
  top: 5px;
  left: 71%;
  display: none;
  width: 90px;
  height: 45px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background: transparent;
  border: 1px solid rgb(21, 38, 62);
  background-color: #e1ddec;
  color: #131313;
  border-radius: 5%;
}

.slide-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .header {
    margin-top: 7px;
  }
  
  .project-description__info {
    width: 155px;
    height: 70px;
  }

  .project-description__info img {
    margin-left: 5px;
  }

  .project-description__paragraph {
    font-size: 14px;
    height: 40px;
    margin: 20px 0 0 5px;
  }

  .project-section__btn-left,
  .project-section__btn-right {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .header {
    margin-top: 0;
    border-radius: 0;
  }

  .slide__link {
    width: 256px;
    margin: 55px 10px auto 10px;
  }

  .project-description {
    width: 100%;
    border-right: 0;
  }

  .project-description__info {
    margin-top: 25px;
  }

  .edu-section {
    margin-top: 3px;
    border-radius: 0;
  }

  .project-section {
    margin-top: 3px;
    border-radius: 0;
    box-shadow: none;
  }

  .project-description__list {
    font-size: 16px;
    margin: 10px auto 0;
    padding-left: 20px;
    height: 210px;
  }

  .edu-section__list {
    width: 75%;
  }
}

@media screen and (max-width: 670px) {
  .project-description__heading {
    font-size: 18px;
  }

  .project-description__item {
    font-size: 14px;
  }

  .project-description__img {
    width: 180px;
  }

  .project-description__img--second {
    width: 180px;
  }
}

@media screen and (max-width: 500px) {

  .header {
    height: 260px;
  }

  .git-logo__heading {
    margin: 5px 0 0 10px;
    font-size: 17px;
  }

  .contacts__heading {
    margin: 10px 0 0 0;
    font-size: 17px;
  }

  .personal-data {
    background: none;
    box-shadow: none;
    border-left: 1px solid #e8dcdc;
  }

  .personal-data__heading {
    font-size: 20px;
  }

  .header__avatar-field {
    align-self: center;
    width: 135px;
    height: 135px;
    border-radius: 5%;
    background: #edeef0;
    box-shadow: 0px 1px 12px -6px rgba(0,0,0,0.44);
  }

  .header__avatar {
    width: 135px;
    height: 135px;
    border-radius: 5%;
    margin: 0;
  }

  .personal-data {
    width: 55%;
    height: 220px;
  }

  .slider-container {
    width: 100%;
    margin: auto auto 0 auto;
  }

  .project-section {
    height: 530px;
  }

  .project-description {
    display: none;
  }

  .project-description__list {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    padding-left: 20px;
    margin-top: 25px;
  }

  .project-description.active {
    position: absolute;
    display: block;
    top: 70px;
    left: 10%;  
    width: 280px;
    height: 280px;
    z-index: 1;
    background: #fff;
    border-radius: 5%;
    -webkit-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 11px 11px 15px 0px rgba(0, 0, 0, 0.5);
  }

  .project-description__heading {
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 0 3px 0;
    border-bottom: 1px solid rgb(238, 240, 247);
  }

  .project-description__info {
    display: none;
  }

  .slide__link {
    width: 100%;
    height: 450px;
    margin: 0;
  }

  .project-description__img,
  .project-description__img--second {
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0;
  }

  .slide-btn {
    display: unset;
  }

  .project-description__paragraph--second {
    position: absolute;
    display: block;
    top: 420px;
    height: 15px;
    left: calc(50% - 75px);
    margin: 0;
    padding: 0;
    width: 150px;
    height: 15px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    background: #fff;
    border: 1px solid #131313;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 1;
    z-index: 1;
  }
}

